@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@source '../../../../packages/**/*.{ts,tsx}';
@theme inline {
  --color-foreground: var(--color-fd-foreground);
  --color-background: var(--color-fd-background);
  --color-popover: var(--color-fd-popover);
  --color-popover-foreground: var(--color-fd-popover-foreground);
  --color-card: var(--color-fd-card);
  --color-card-foreground: var(--color-fd-card-foreground);
  --color-border: var(--color-fd-border);
  --color-input: var(--color-fd-border);
  --color-ring: var(--color-fd-ring);
  --color-muted: var(--color-fd-muted);
  --color-muted-foreground: var(--color-fd-muted-foreground);
  --color-accent: var(--color-fd-accent);
  --color-accent-foreground: var(--color-fd-accent-foreground);
  --color-primary: var(--color-fd-primary);
  --color-primary-foreground: var(--color-fd-primary-foreground);
  --color-secondary: var(--color-fd-secondary);
  --color-secondary-foreground: var(--color-fd-secondary-foreground);
  --color-destructive: var(--color-fd-primary);
  --color-destructive-foreground: var(--color-fd-primary-foreground);
}
.dark {
  --color-fd-background: hsl(0, 0%, 0%);
  --color-fd-card: hsl(0, 0%, 5%);
  --color-fd-popover: hsl(0, 0%, 5%);
  --color-fd-muted: hsl(0, 0%, 8%);
  --color-fd-secondary: hsl(0, 0%, 8%);
  --color-fd-border: hsla(0, 0%, 30%, 30%);
}
.font-mono,
pre,
code {
  font-family: var(--font-mono), ui-monospace, monospace;
}
html > body[data-scroll-locked] {
  margin-right: 0px !important;
}
